$hash: "bcc26993292869431e54c666aafa8fcd";
$path: "../fonts/roboto";
$FontName: "Roboto";

$sufix-list: "-Black", "-BlackItalic", "-Bold", "-BoldItalic", "-Medium", "-MediumItalic", "-Light", "-LightItalic";
$weight-list: 800, 800, 600, 600, 500, 500, 400, 400;
$style-list: normal, italic, normal, italic, normal, italic, normal, italic;

@mixin generator($index: 1){
    @for $index from 1 through length($sufix-list){
        // get item name
        $suf: nth($sufix-list, $index);
        // name of font file
        $name: "#{$FontName}#{$suf}";
        // get font weight for this prefix (file and font-family)
        $weight: nth($weight-list, $index);
        // get font style for this prefix (file and font-family)
        $style: nth($style-list, $index);

        @font-face {
            // font-family: e(`'${name}'@include toLowerCase()`);
            // font-family: $name;
            font-family: "#{$FontName}";
            src:  url("#{$path}/#{$name}.ttf") format("truetype");
            font-weight: $weight;
            font-style: $style;
        }
    }
}
@include generator();

// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~animate.css/animate.min.css';
// @import "chartist/chartist";
@import "~bootstrap/scss/bootstrap";
@import "theme/variables";
@import "style";
@import "theme/responsive";
// @import "todo/todo";
@import '~ngx-toastr/toastr.css';
@import 'sweetalert/sweetalert2.scss';
// @import "~dragula/dist/dragula.css";
@import "sticky/sticky.scss";
// @import "~@swimlane/ngx-datatable/index.css";
// @import "~@swimlane/ngx-datatable/themes/bootstrap.css";
// @import "~angular-custom-tour/styles/main.css";
// @import '~dropzone/dist/min/dropzone.min.css';
// @import '~leaflet/dist/leaflet.css';
.toast{
    opacity: 1;
}
